@import "../styles/colors.scss";

.mission {
  h1 {
    color: $color-text;
    font-family: EB Garamond;
  }
  h3 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-family: EB Garamond;
  }
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  border: 0.4rem solid $color-teal;
  font-weight: 500;
  min-width: 800px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  button {
    border: 0.3rem solid $color-teal;
    background-color: $color-pink;
    color: #d9e075;
    padding: 0.5rem 3rem;
    float: right;
  }

  button:hover {
    border: 0.3rem solid $color-pink;
    background-color: white;
    color: $color-pink;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  button:focus {
    outline: none;
    border: 0.3rem solid $color-pink;
  }
}

.nameplate {
  h1 {
    color: $color-text;
  }
  background-color: white;
  padding: 0.5rem 3rem;
  max-width: 100%;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: 0.3rem solid $color-teal;
  font-weight: 500;
  a { 
    color: $color-text;
    text-decoration: none;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
  }
}

.mission2 {
  h1 {
    color: $color-text;
    font-family: EB Garamond;
  }
  h3 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-family: EB Garamond;
  }
  background-color: white;
  margin-top: 2rem;
  padding: 1rem;
  p {
    margin-bottom: 0;
  }
  
  border-radius: 1rem;
  border: 0.4rem solid $color-teal;
  font-weight: 500;
  min-width: 800px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.mission .art:nth-of-type(even) {
  width: 40%;
  float: left;
  padding-right: 2rem;
}

.mission .art:nth-of-type(odd) {
  width: 40%;
  float: right;
  padding-left: 2rem;
}