@import "../styles/colors.scss";

.mission {
  h2 {
    color: $color-text;
    font-family: EB Garamond;
  }
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  border: 0.4rem solid $color-teal;
  font-weight: 500;
}

.pinkLineBottom {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.pinkLineBottom:before {
  content: "";
  float: left;
  background: $color-pink;
  width: 100%;
  height: 12px;
  border-radius: 5px;
}

.pinkLineTop {
  margin-bottom: 5rem;
}

.pinkLineTop:before {
  content: "";
  float: left;
  background: $color-pink;
  width: 100%;
  height: 12px;
  border-radius: 5px;
}

.title {
  h2 {
    color: $color-pink;
    text-align: center;
    margin: 0;
  }
  background-color: white;
  //padding: 1rem;
  border-radius: 1rem;
  border: 0.4rem solid $color-teal;
  //margin-bottom: 2rem;
}

.masthead {
  background-color: $color-vomit-green;
  //padding: 4rem 0;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 700;
  margin-top: 5rem;
  margin-bottom: 0;
  color: white;
  border-top: 0.4rem solid $color-pink;
  border-bottom: 0.4rem solid $color-pink;
  a {
    color: white;
    text-decoration: none;
  }
}
