@import "../styles/colors.scss";

.contactForm {
  h2 {
    color: $color-pink;
  }
  background-color: white;
  padding: 3rem;
  border-radius: 2rem;
  font-weight: 500;
  p {
    color: $color-vomit-green;
    padding-bottom: 0.1rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    font-family: Montserrat;
  }
  button {
    margin-top: 1rem;
    font-weight: 600;
  }
}

.boxsizingBorder {
  width:100%;
}

.side {
  display: inline-block;
  margin-bottom: 2rem;
  flex: 1 1 150px;
}

.side:first-child {
  margin-right: 1rem;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  ::placeholder {
    color: black;
    font-family: EB Garamond;
  }
}

textarea::placeholder {
  color: black;
  font-family: EB Garamond;
}

.quote {
  color: $color-pink;
  text-align: center;
  background-color: $color-foreground;
  margin: 50px auto;
  max-width: 700px;
  padding: 50px 50px 25px 50px;
  border: 6px solid $color-teal;
  border-radius: 50px;
  margin-top: 125px;

  h1 {
    margin-bottom: 0;
  }

  .quoteText {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.author {
  background-color: $color-foreground;
  position: relative;
  top: 50px;
  left: 300px;
  font-size: 1.7rem;
  padding: 0.5rem 2.5rem;
  color: $color-pink;
  display: inline;
  border: 5px solid $color-teal;
  border-radius: 1.2rem;
}

@media (max-width: 925px) {
  .author {
    left: 1vh;
  }
  .author::before {
    display: none;
  }
}
