@import "../styles/colors.scss";

.green {
  background-color: $color-vomit-green;
  padding: 5rem 0;
  border-top: 10px solid $color-pink;
  border-bottom: 10px solid $color-pink;
}

.quote {
  color: $color-text;
  text-align: center;
  background-color: $color-foreground;
  margin: 50px auto;
  max-width: 700px;
  padding: 50px 50px 25px 50px;
  border: 6px solid $color-teal;
  border-radius: 50px;

  h1 {
    margin-bottom: 0;
  }

  .quoteText {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.author {
  background-color: $color-pink;
  position: relative;
  top: 50px;
  left: 300px;
  font-size: 1.7rem;
  padding: 0.5rem 2.5rem;
  color: $color-vomit-green;
  display: inline;
  border: 5px solid $color-teal;
  border-radius: 1.2rem;
}

.author::before {
  content: url("../images/dog.png");
  position: absolute;
  right: 0;
  bottom: 40px;
}

@media (max-width: 925px) {
  .author {
    left: 1vh;
  }
  .author::before {
    display: none;
  }
}

.row {
  margin: 0 auto;
  text-align: center;
}

input {
  border: 0.2rem solid #88e6dc;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
}

input:hover {
  border: 0.2rem solid #fe6060;
  transition-duration: 0.5s;
}

input:focus {
  outline: none;
  border: 0.2rem solid #fe6060;
}

textarea {
  border: 0.2rem solid #88e6dc;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}

textarea:hover {
  border: 0.2rem solid #fe6060;
  transition-duration: 0.5s;
}

textarea:focus {
  outline: none;
  border: 0.2rem solid #fe6060;
}
::placeholder {
  color: #d9e075;
  font-weight: bold;
}

.button {
  border: 0.3rem solid $color-teal;
  background-color: $color-pink;
  color: #d9e075;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  float: right;
}

.button:hover {
  border: 0.3rem solid $color-pink;
  background-color: white;
  color: $color-pink;
  transition-duration: 0.5s;
  cursor: pointer;
}

.button:focus {
  outline: none;
  border: 0.3rem solid $color-pink;
}

.banner {
  background-color: $color-foreground;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  position: relative;
  right: 100px;
}

.banner:before {
  content: "";
  float: left;
  background: $color-text;
  width: 100%;
  height: 10px;
  border-radius: 5px;
}

@media (max-width: 658px) {
  .banner {
    position: initial;
  }
}


.subtitle {
  text-align: right;
  font-size: 1.30rem;
  font-family: Montserrat;
  color: $color-text;
  line-height: 2.5rem;
  margin: 0 auto;
  border: 10px solid $color-background;
  padding: 1rem;
  a {
    color: $color-text;
    text-decoration: none;
  }
}


.posts {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  height: auto;
  grid-gap: 1rem;
}

.post {
  a {
    background-color: $color-background;
    color: $color-text;
    display: block;
    text-decoration: none;
    border-radius: 49px;
    height: 100%;
  }

  a:hover {
    filter: brightness(80%);;
  }

  h2 {
    margin-bottom: 0;
    font-size: 1.5rem;
    padding: 1rem;
  }

  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0;
  }
  img {
    width: 100%;
    margin-bottom: 0;
    border-radius: 46px 46px 0px 0px;
  }
}

.postRow {
  padding-bottom: 1rem;
  text-align: center;
  background-color: $color-foreground;
  padding: 50px;
  h1 {
    color: $color-text;
    margin-bottom: 50px;
  }
}

.soapRow {
    display: grid;
    grid-template-columns: minmax(150px, 35%) 1fr;
    grid-gap: 2rem;
    padding-top: 8rem;
    div {
      padding: 8rem 1rem;
    }
  .soapPanel {
    background-color: white;
    border-radius: 0 5rem 5rem 0;
  }
  .formPanel {
    border-radius: 5rem 0 0 5rem;
    background-color: white;
  }
}