@import "../styles/colors.scss";

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    flex: 1 1 150px; /*  Stretching: */
    margin: 5px;
  }
  p {
    margin-left: 0rem;
    margin-bottom: 0.2rem
  }
  a {
    text-decoration: none;
    color: black;
  }
  h2 {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-weight: 500;
    color: $color-text;
    font-family: EB Garamond;
  }

}

.heading {
  color: $color-text;
  font-size: 3rem;
  margin-bottom: 0;
}

.bottomMargin {
  padding-bottom: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .soapheader {
    display: none;
  }
}