@import "../styles/colors.scss";

.parent {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 0px;
  img {
    width: 40%;
    margin-bottom: 0;
  }
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.div6 {
  grid-area: 6 / 1 / 7 / 2;
}
.div7 {
  grid-area: 7 / 1 / 8 / 2;
}
.div8 {
  grid-area: 1 / 2 / 2 / 3;
}
.div9 {
  grid-area: 2 / 2 / 3 / 3;
}
.div10 {
  grid-area: 3 / 2 / 4 / 3;
}
.div11 {
  grid-area: 4 / 2 / 5 / 3;
}
.div12 {
  grid-area: 5 / 2 / 6 / 3;
}
.div13 {
  grid-area: 6 / 2 / 7 / 3;
}
.div14 {
  grid-area: 7 / 2 / 8 / 3;
}

@media (max-width: 841px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div7 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .div8 {
    grid-area: 8 / 1 / 9 / 2;
  }
  .div9 {
    grid-area: 9 / 1 / 10 / 2;
  }
  .div10 {
    grid-area: 10 / 1 / 11 / 2;
  }
  .div11 {
    grid-area: 11 / 1 / 12 / 2;
  }
  .div12 {
    grid-area: 12 / 1 / 13 / 2;
  }
  .div13 {
    grid-area: 13 / 1 / 14 / 2;
  }
  .div14 {
    grid-area: 14 / 1 / 15 / 2;
  }
}

.name,
.role {
  background-color: white;
  color: $color-pink;
  border-radius: 1rem;
  border: 0.3rem solid $color-teal;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  font-weight: 500;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.3rem solid $color-teal;
  margin-bottom: 2rem;
  font-family: EB Garamond;
}

.flex {
  display: flex;
}

.badges {
  flex: auto;
}

.bannerContainer {
  width: 100%;
  text-align: center;
}

.banner {
  display: inline-block;
  background-color: white;
  color: $color-pink;
  border-radius: 1rem;
  border: 0.3rem solid $color-teal;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}
