@import "../styles/colors.scss";

.footer {
  margin-top: 3rem;
  padding: 1rem 1rem 0rem 1rem; 
  background-color: #101824;
  border-top: 0.5rem solid $color-vomit-green;
  line-height: 2rem;
  p {
    color: $color-vomit-green;
    font-size: .5rem;
    font-family: Montserrat;
    font-weight: 300;
    margin-bottom: 0;
  }
  .footerTitle {
    font-size: 1rem;
    margin-bottom: 0;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 2rem !important;
    margin-bottom: 0rem;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .split {
    flex: 1 1 150px; /*  Stretching: */
    margin: 5px;
    img {
      float: right;
    }
  }
}