.header {
  padding: 3rem;
  text-align: center;
}

.title {
  color: #FE6060;
  text-shadow: 2px 4px #28D9C7;
  font-size: 68px;
  text-decoration: none;
  
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}