@import "../styles/colors.scss";


.header {
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: table;
  left: 2px;
  margin-bottom: 1.25rem;
}

.title {
  text-decoration: none;
}

.heading1 {
  color: $color-text;
  font-size: 1rem;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  z-index: 1;
}

