@import "../styles/colors.scss";

.header {
  padding: 3rem;
  text-align: center;
}

.nav-list {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  li:not(:last-child) {
    margin-right: 1.3rem;
  }
}

.nav-item {
  color: $color-text;
  font-size: .9rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-item:hover {
  filter: brightness(80%);
}

.active-nav-item {
  color: $color-pink;
}

@media only screen and (max-width: 768px) {
  .header {
    display: none;
  }
}

.soapheader img { 
  max-width: 20%;
  display:block;
  margin:50px auto 50px auto !important;
  
}